// Font
$base-fsize: 16px
$base-ffamily: 'lato', sans-serif

// Colors
$blue: #35495e

// Breakpoints
$xlg: 1440
$lg: 1280
$md: 1024
$sm: 768
$xs: 375

// Settings
$anim-duration: .5s
$anim-easing: ease

// Ui
$btn-height: 40px
