*, *::after, *::before
  box-sizing: border-box

html
  @include font(default)
  font-size: $base-fsize

body
  @include font(default)
  position: relative
  min-width: 320px
  overflow-x: hidden
  font-size: 1rem
  color: $color-blue
  line-height: 1.6

h1, h2, h3, h4, h5, h6, p
  margin: 0

textarea, input, select
  -webkit-appearance: none !important
  border-radius: 0 !important

input
  min-height: $input-height

textarea
  min-height: $textarea-height

.app
  position: relative

.wrapper
  margin: 0 auto
  max-width: $wrapper-width

// Slick outline reset
.slick-slide
  outline: none !important
  user-select: none !important
